<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple HTML HomePage</title>
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>

  <body>
    <header class="header">
      <a href="#" class="logo">Welcome {{user.first_name.toUpperCase()}} {{user.last_name.toUpperCase()}} !!</a>
      <nav class="nav-items">
        <a href="/user/userHome">Home</a>
        <a href="#">About</a>
        <a href="user/login" (click)="logout()">LogOut</a>
      </nav>
    </header>
    
    <div class="main-content">
      <div class="custom-container">
        <h2>Flight List</h2>
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Flight Name</th>
              <th>Capacity</th>
              <th>Departure</th>
              <th>Arrival</th>
              <!-- <th>Source</th> -->
              <th>Destination</th>
              <th>Ticket Amount</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tempflight of flight">
              <td>{{ tempflight.flightId }}</td>
              <td>{{ tempflight.airline }}</td>
              <td>{{ tempflight.capacity }}</td>
              <td>{{ tempflight.departure }}</td>
              <td>{{ tempflight.arrival }}</td>
              <!-- <td>{{ tempflight.source }}</td> -->
              <td>{{ tempflight.destination }}</td>
              <td>{{ tempflight.ticket_amount }}</td>
              <td>
                <button (click)="navigateToBookFlight(tempflight.flightId)">Book</button>
              </td>
            </tr>
          
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
